<!doctype html>
<html lang="pt-BR" data-ng-app="BeMEAN">
<head>
  <meta charset="UTF-8">
  <title>Be MEAN</title>
</head>
<!-- Iniciando minha aplicação com ng-app -->
<body>
  <div data-ng-controller="UserController as User">
    <h1>{{ User.titulo }}</h1>
    <label>Busca: <input ng-model="searchUser"></label>
    <button data-ng-click="User.add()">ADD User</button>
    <span data-ng-init="predicate = 'name'"></span>
    <table>
      <thead>
        <tr>
          <th data-ng-repeat="(key, value) in User.users[0]">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in User.users | orderBy:predicate:true | filter:searchUser">
          <td data-ng-repeat="(key, value) in user">{{ value | upper }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div data-ng-controller="CursoController as Curso">
    <h1>{{ Curso.titulo }}</h1>
    <label>Busca: <input ng-model="searchCurso"></label>
    <button data-ng-click="Curso.add()">ADD Curso</button>
    <span data-ng-init="reverse = 'name'"></span>
    <table>
      <thead>
        <tr>
          <th data-ng-repeat="(key, value) in Curso.cursos[0]">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="curso in Curso.cursos | orderBy:reverse:false | filter:searchCurso">
          <td data-ng-repeat="(key, value) in curso">{{ value | upper }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script>
  angular.module('BeMEAN', [])
  .controller('UserController', UserController)
  .controller('CursoController', CursoController)
  .filter('upper', function() {
    return function(text) {
      return text.charAt(0).toUpperCase() + text.substr(1).toLowerCase();
    }
  });

  function UserController() {
    var vm = this;
    vm.titulo = "ALUNOS";
    vm.users = [
      {name: 'marcus', email: 'marcus@oceanoweb.com.br', idade: '18'},
      {name: 'vinicius', email: 'vinicius@oceanoweb.com.br', idade: '21'},
      {name: 'gonçalves', email: 'goncalves@oceanoweb.com.br', idade: '25'}
    ];
    vm.add = add;
     function add(){
       vm.users.push({name: 'Exemplo', email: 'exemplo@exemplo.com', idade: '00'})
     }
  }

  function CursoController() {
    var vm = this;
    vm.titulo = "CURSOS";
    vm.cursos = [
      {name: 'Javascript', teacher: 'Marcus', apelido: 'Marquinhus'},
      {name: 'Node', teacher: 'Vinicius', apelido: 'Viny'},
      {name: 'Angular', teacher: 'Gonçalves', apelido: 'Gonza'}
    ];
    vm.add = add;
     function add(){
       vm.cursos.push({name: 'Exemplo', teacher: 'exemplo@exemplo.com', apelido: 'exem'})
     }
  }
  </script>
</body>
</html>
